<%= render "header" %>
<%= render "profile_section" %>
<%= render "tabs" %>
<div class="content">
  <%= render "main_content" %>
  <%= render "form_genres" %> <!-- Adicionado aqui -->
  <%= render "sidebar" %>
</div>
<%= render "footer" %>